@import "tailwindcss";
@import "tailwindcss";
@import "tailwindcss-animated";

.swal2-popup {
  background: #0f172a !important;
  color: #e2e8f0 !important;
  border-radius: 8px;
}

.swal2-title {
  color: #e2e8f0 !important;
}

.swal2-content {
  color: #d1d5db !important;
}

.swal2-html-container {
  color: #d1d5db !important;
}

.swal2-confirm-button {
  background-color: #1e40af !important;
  color: #ffffff !important;
}

.swal2-cancel-button {
  background-color: #6b7280 !important;
  color: #ffffff !important;
}

.swal2-deny-button {
  background-color: #991b1b !important;
  color: #ffffff !important;
}

.swal2-actions button:hover {
  opacity: 0.9 !important;
}

.swal2-backdrop {
  background: rgba(15, 23, 42, 0.8) !important;
}

.swal2-icon.swal2-success .swal2-icon-content {
  color: #10b981 !important;
}

.swal2-icon.swal2-error .swal2-icon-content {
  color: #ef4444 !important;
}

.swal2-icon.swal2-warning .swal2-icon-content {
  color: #f59e0b !important;
}

.swal2-input {
  background: #1e293b !important;
  color: #e2e8f0 !important;
  border: 1px solid #4b5563 !important;
}

.swal2-input:focus {
  border-color: #1e40af !important;
}
